<header class="header">
    <nav class="nav">
        <h1 class="nav-logo">HOME DH</h1>
        <div class="nav__container">
            <ul class="list">
                <li class="list-item"><a href="/" class="list-item--link">home</a></li>
                <li class="list-item"><a href="/heroes/detalle/:id" class="list-item--link">heroes</a></li>
                <li class="list-item"><a href="/creditos" class="list-item--link">creditos</a></li>
            </ul>
        </div>
    </nav>
</header>