<%- include("partials/head") %>  
  <body>
  <%- include("partials/header") %>  
  
  <section class="bio">
   
    <div class="container-bio">
      <h1 class="container-bio__title"><%= title %></h1>
    </div>

    
  
  </section>
    

  <%- include("partials/footer") %>  
  </body>
</html>